.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 15px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100% );
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 20px;
}
.cat1{
    background-image: linear-gradient(to right, orange, yellow);
}
.cat2{
    background-image: linear-gradient(to right, rgb(255, 108, 132),lightpink);
}
.cat3{
    background-image: linear-gradient(to right, blue,  lightblue);
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 10px 10px 30px lightblue;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#log-in{
    height: 300px;
}
#log-in h6{
    color: grey;
}
footer{
    text-align: center;
}